<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
<h1>Редактировать пользователя</h1>
<form th:action="@{/users/{id}/edit(id=${user.id})}" th:object="${user}" method="post">
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}">
    </div>
    <div>
        <label for="age">Возраст:</label>
        <input type="number" id="age" th:field="*{age}">
    </div>
    <div>
        <label for="address">Адрес:</label>
        <input type="text" id="address" th:field="*{address}">
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>
<a href="/users">Назад к списку пользователей</a>
</body>
</html>